// --------------------------------------------------------------
// Audio styles
// --------------------------------------------------------------

// Container
.vide--audio {
  display: block;
}

// Controls container
.vide--audio .vide__controls {
  background: $vide-audio-controls-background;
  border-radius: inherit;
  color: $vide-audio-control-color;
  padding: $vide-control-spacing;
}

// Control elements
.vide--audio .vide__control {
  &.vide__tab-focus,
  &:hover,
  &[aria-expanded='true'] {
    background: $vide-audio-control-background-hover;
    color: $vide-audio-control-color-hover;
  }
}

// Range inputs
.vide--full-ui.vide--audio input[type='range'] {
  &::-webkit-slider-runnable-track {
    background-color: $vide-audio-range-track-background;
  }

  &::-moz-range-track {
    background-color: $vide-audio-range-track-background;
  }

  &::-ms-track {
    background-color: $vide-audio-range-track-background;
  }

  // Pressed styles
  &:active {
    &::-webkit-slider-thumb {
      @include vide-range-thumb-active($vide-audio-range-thumb-active-shadow-color);
    }

    &::-moz-range-thumb {
      @include vide-range-thumb-active($vide-audio-range-thumb-active-shadow-color);
    }

    &::-ms-thumb {
      @include vide-range-thumb-active($vide-audio-range-thumb-active-shadow-color);
    }
  }
}

// Progress
.vide--audio .vide__progress__buffer {
  color: $vide-audio-progress-buffered-background;
}
