// --------------------------------------------------------------
// Badges
// --------------------------------------------------------------

.vide__badge {
  background: $vide-color-main;
  border-radius: $vide-badge-border-radius;
  color: $vide-badge-text-color;
  font-size: $vide-font-size-badge;
  line-height: 1;
  padding: 3px 4px;
}
