// --------------------------------------------------------------
// Captions
// --------------------------------------------------------------

// Hide default captions
.vide--full-ui ::-webkit-media-text-track-container {
    display: none;
}

.vide__captions {
    animation: vide-fade-in 0.3s ease;
    bottom: 0;
    display: none;
    font-size: $vide-font-size-captions-small;
    left: 0;
    padding: $vide-control-spacing;
    position: absolute;
    text-align: center;
    transition: transform 0.4s ease-in-out;
    width: 100%;
    transform: translateY(-100px);
    text-shadow: 0 2px 10px 0 rgba(#000000, 20%);

    span:empty {
        display: none;
    }

    @media (min-width: $vide-bp-sm) {
        font-size: var(--captions-font-size, 15px);
        padding: calc(#{$vide-control-spacing} * 2);
    }

    @media (min-width: $vide-bp-md) {
        font-size: var(--captions-font-size, 18px);
    }

    &--noBackground {

        .vide__caption {
            background: transparent !important;
        }
    }
}

.vide--captions-active .vide__captions {
    display: block;
}

// If the lower controls are shown and not empty
.vide:not(.vide--hide-controls) .vide__controls:not(:empty) ~ .vide__captions {
    transform: translateY(calc(#{$vide-control-spacing} * -4));
}

.vide__caption {
    background: $vide-captions-background;
    border-radius: 0;
    box-decoration-break: clone;
    color: $vide-captions-text-color;
    line-height: 185%;
    padding: 0.2em 0.5em;
    white-space: pre-wrap;

    // Firefox adds a <div> when using getCueAsHTML()
    div {
        display: inline;
    }
}
