// --------------------------------------------------------------
// Faux poster overlay
// --------------------------------------------------------------

.vide__poster {
    background-color: var(--vide-video-background, $vide-video-background);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: opacity 0.2s ease;
    width: 100%;
    z-index: 1;
}

.vide--stopped.vide__poster-enabled, .vide.hasWatchHistory, .vide.playlistOpened  {

    .vide__poster {
        opacity: 1;
    }
}

.vide.hasWatchHistory, .vide.playlistOpened {

    .vide__poster {
        z-index: 1000;
    }
}

// Allow interaction with YouTube controls while paused
.vide--youtube.vide--paused.vide__poster-enabled:not(.vide--stopped) .vide__poster {
    display: none;
}
