// --------------------------------------------------------------
// Slider inputs - <input type="range">
// --------------------------------------------------------------

.vide--full-ui input[type='range'] {
    appearance: none;
    background: transparent;
    border: 0;
    border-radius: calc(#{$vide-range-thumb-height} * 2);
    cursor: pointer;

    // `color` property is used in JS to populate lower fill for WebKit
    color: $vide-range-fill-background;
    display: block;
    height: calc((#{$vide-range-thumb-active-shadow-width} * 2) + #{$vide-range-thumb-height});
    margin: 0;
    min-width: 0;
    padding: 0;
    transition: box-shadow 0.3s ease;
    width: 100%;

    &::-webkit-slider-runnable-track {
        @include vide-range-track;

        background-image: linear-gradient(to right, currentColor var(--value, 0%), transparent var(--value, 0%));
    }

    &::-webkit-slider-thumb {
        @include vide-range-thumb;

        appearance: none;
        margin-top: calc(((#{$vide-range-thumb-height} - #{$vide-range-track-height}) / 2) * -1);
    }

    // Mozilla
    &::-moz-range-track {
        @include vide-range-track;
    }

    &::-moz-range-thumb {
        @include vide-range-thumb;
    }

    &::-moz-range-progress {
        background: currentColor;
        border-radius: calc(#{$vide-range-track-height} / 2);
        height: $vide-range-track-height;
    }

    // Microsoft
    &::-ms-track {
        @include vide-range-track;

        color: transparent;
    }

    &::-ms-fill-upper {
        @include vide-range-track;
    }

    &::-ms-fill-lower {
        @include vide-range-track;

        background: currentColor;
    }

    &::-ms-thumb {
        @include vide-range-thumb;

        // For some reason, Edge uses the -webkit margin above
        margin-top: 0;
    }

    &::-ms-tooltip {
        display: none;
    }

    // Focus styles
    &::-moz-focus-outer {
        border: 0;
    }

    &:focus {
        outline: 0;
    }

    &.vide__tab-focus {
        &::-webkit-slider-runnable-track {
            @include vide-tab-focus;
        }

        &::-moz-range-track {
            @include vide-tab-focus;
        }

        &::-ms-track {
            @include vide-tab-focus;
        }
    }
}
