// --------------------------------------------------------------
// Time
// --------------------------------------------------------------

.vide__time {
    font-size: $vide-font-size-time;

    &--current, &--duration {
        width: 100px;
        flex: auto;
        padding: 0;
        margin-bottom: 0.5rem;
        font-size: 1rem;
        line-height: 1rem;
        font-weight: 400;
        text-align: right;

        @media (max-width: ($vide-bp-md - 1px)) {
            font-size: 0.7rem;
        }
    }

    &--duration {
        opacity: 0.7;
    }

    &--current {
        margin-right: auto;
        text-align: left;
    }
}

// Media duration hidden on small screens
.vide__time + .vide__time {
    // Add a slash in before
    &::before {
        content: '\2044';
        margin-right: 5px;
        margin-left: 5px;
    }
}
