// ==========================================================================
// Badges
// ==========================================================================

$vide-badge-background: var(--vide-badge-background, $vide-color-gray-700) !default;
$vide-badge-text-color: var(--vide-badge-text-color, #fff) !default;
$vide-badge-border-radius: var(--vide-badge-border-radius, 2px) !default;
