// ==========================================================================
// Captions
// ==========================================================================

$vide-captions-background: var(--vide-captions-background, rgba(#000, 0.4)) !default;
$vide-captions-text-color: var(--vide-captions-text-color, #fff) !default;
$vide-font-size-captions-base: $vide-font-size-base !default;
$vide-font-size-captions-small: $vide-font-size-small !default;
$vide-font-size-captions-medium: $vide-font-size-large !default;
$vide-font-size-captions-large: $vide-font-size-xlarge !default;
