// ==========================================================================
// Colors
// ==========================================================================

$vide-color-main: var(--vide-color-main, #00b2ff) !default;
$vide-video-background: var(--vide-video-background, rgb(0 0 0 / 100%)) !default;

// Grayscale
$vide-color-gray-900: hsl(216deg 15% 16%) !default;
$vide-color-gray-800: hsl(216deg 15% 25%) !default;
$vide-color-gray-700: hsl(216deg 15% 34%) !default;
$vide-color-gray-600: hsl(216deg 15% 43%) !default;
$vide-color-gray-500: hsl(216deg 15% 52%) !default;
$vide-color-gray-400: hsl(216deg 15% 61%) !default;
$vide-color-gray-300: hsl(216deg 15% 70%) !default;
$vide-color-gray-200: hsl(216deg 15% 79%) !default;
$vide-color-gray-100: hsl(216deg 15% 88%) !default;
$vide-color-gray-50: hsl(216deg 15% 97%) !default;
