// ==========================================================================
// Controls
// ==========================================================================

$vide-control-icon-size: var(--vide-control-icon-size, 24px) !default;
$vide-control-spacing: var(--vide-control-spacing, 10px) !default;
$vide-control-padding: calc(#{$vide-control-spacing} * 0.7);
$vide-control-padding: var(--vide-control-padding, $vide-control-padding) !default;
$vide-control-radius: var(--vide-control-radius, 0) !default;
$vide-control-toggle-checked-background: var(
  --vide-control-toggle-checked-background,
  var(--vide-color-main, $vide-color-main)
) !default;
$vide-video-controls-background: var(
  --vide-video-controls-background,
  linear-gradient(rgba(#000, 0), rgba(#000, 0.75))
) !default;
$vide-video-controls-background-top: var(
                --vide-video-controls-background-top,
                linear-gradient(rgba(#000, 0.5), rgba(#000, 0))
) !default;
$vide-video-control-color: var(--vide-video-control-color, #fff) !default;
$vide-video-control-color-hover: var(--vide-video-control-color-hover, #fff) !default;
$vide-video-control-background-hover: var(
  --vide-video-control-background-hover,
  var(--vide-color-main, $vide-color-main)
) !default;
$vide-audio-controls-background: var(--vide-audio-controls-background, #fff) !default;
$vide-audio-control-color: var(--vide-audio-control-color, $vide-color-gray-700) !default;
$vide-audio-control-color-hover: var(--vide-audio-control-color-hover, #fff) !default;
$vide-audio-control-background-hover: var(
  --vide-audio-control-background-hover,
  var(--vide-color-main, $vide-color-main)
) !default;
