// ==========================================================================
// Menus
// ==========================================================================

$vide-menu-background: var(--vide-menu-background, rgba(#fff, 0.9)) !default;
$vide-menu-radius: var(--vide-menu-radius, 4px) !default;
$vide-menu-color: var(--vide-menu-color, #fff) !default;
$vide-menu-shadow: var(--vide-menu-shadow, 0 1px 2px rgba(#000, 0.15)) !default;
$vide-menu-arrow-size: var(--vide-menu-arrow-size, 4px) !default;
$vide-menu-item-arrow-size: var(--vide-menu-item-arrow-size, 4px) !default;
$vide-menu-item-arrow-color: var(--vide-menu-arrow-color, $vide-color-gray-500) !default;
$vide-menu-back-border-color: var(--vide-menu-back-border-color, $vide-color-gray-100) !default;
$vide-menu-back-border-shadow-color: var(--vide-menu-back-border-shadow-color, #fff) !default;
