// ==========================================================================
// Progress
// ==========================================================================

// Loading
$vide-progress-loading-size: var(--vide-progress-loading-size, 25px) !default;
$vide-progress-loading-background: var(--vide-progress-loading-background, rgba($vide-color-gray-900, 0.6)) !default;

// Markers
$vide-progress-marker-background: var(--vide-progress-marker-background, #fff) !default;
$vide-progress-marker-width: var(--vide-progress-marker-width, 3px) !default;

// Buffered
$vide-video-progress-buffered-background: var(--vide-video-progress-buffered-background, rgba(#fff, 0.25)) !default;
$vide-audio-progress-buffered-background: var(
  --vide-audio-progress-buffered-background,
  rgba($vide-color-gray-200, 0.6)
) !default;
