// ==========================================================================
// Sliders
// ==========================================================================

// Thumb
$vide-range-thumb-height: var(--vide-range-thumb-height, 8px) !default;
$vide-range-thumb-background: var(--vide-range-thumb-background, #fff) !default;
$vide-range-thumb-shadow: var(
  --vide-range-thumb-shadow,
  none
) !default;

// Active state
$vide-range-thumb-active-shadow-width: var(--vide-range-thumb-active-shadow-width, 2px) !default;

// Track
$vide-range-track-height: var(--vide-range-track-height, 6px) !default;

// Fill
$vide-range-fill-background: var(--vide-range-fill-background, var(--vide-color-main, $vide-color-main)) !default;

// Type specific
$vide-video-range-track-background: var(
  --vide-video-range-track-background,
  $vide-video-progress-buffered-background
) !default;
$vide-video-range-thumb-active-shadow-color: var(
  --vide-audio-range-thumb-active-shadow-color,
  rgba(#fff, 0.5)
) !default;
$vide-audio-range-track-background: var(
  --vide-audio-range-track-background,
  $vide-audio-progress-buffered-background
) !default;
$vide-audio-range-thumb-active-shadow-color: var(
  --vide-audio-range-thumb-active-shadow-color,
  rgba($vide-color-gray-900, 0.1)
) !default;
