// ==========================================================================
// Typography
// ==========================================================================

$vide-font-family: var(--vide-font-family, inherit) !default;
$vide-font-size-base: var(--vide-font-size-base, 15px) !default;
$vide-font-size-small: var(--vide-font-size-small, 13px) !default;
$vide-font-size-large: var(--vide-font-size-large, 18px) !default;
$vide-font-size-xlarge: var(--vide-font-size-xlarge, 21px) !default;
$vide-font-size-time: var(--vide-font-size-time, $vide-font-size-small) !default;
$vide-font-size-menu: var(--vide-font-size-menu, $vide-font-size-small) !default;
$vide-font-size-badge: var(--vide-font-size-badge, 9px) !default;
$vide-font-weight-regular: var(--vide-font-weight-regular, 400) !default;
$vide-font-weight-bold: var(--vide-font-weight-bold, 600) !default;
$vide-line-height: var(--vide-line-height, 1.7) !default;
$vide-font-smoothing: var(--vide-font-smoothing, false) !default;
